<!DOCTYPE HTML>
<html lang="en">
    
{{>head}}

<body id="pageBody">

{{>header}}

<div id="contentOuterSeparator"></div>

<div class="container">

    <div class="divPanel page-content">

        <div class="breadcrumbs">
                <a href="../index">Home</a> &nbsp;/&nbsp; <span>Recipe</span>
         </div> 

        <div class="row-fluid">
			
			<!--Edit Sidebar Content here-->
                <div class="span3">                    
                 <h1>{{recipe.name}}</h1>  
                <!-- Start Side Categories -->  
                 <img src="../../public/images/recipe_images/{{recipe.image_url}}" class="img-rounded" alt="">
          
		    <p>Cuisine : {{recipe.cuisine}}</p>
            <p>Description : {{recipe.description}}</p>
            
			<h2>Indgredients :</h2>
            <div>

           <ul>

            {{#each recipe.ingredients}}

            <li>{{name}}&nbsp;({{min_q}})</li>

            {{/each}}

      </ul>

</div>

                </div>
                                	
         
				<!--/End Sidebar Content -->        				
					                 
            	<!--Edit Main Content Area here-->
                <div class="span6" id="divMain">

                    <h1>Procedure</h1>
					<hr>	
                    <p>preparation Time: {{recipe.prep_time}} | Cooking Time: {{recipe.cook_time}} | Servings: {{recipe.servings}}</p>
                    <p>{{recipe.procedure}}</p>		
                    					
				</div>	                             
                <!--Edit Sidebar Content here-->
          <div class="span3" id="divRight">  
                 <div class="row-fluid">
			
			<!--Edit Sidebar Content here-->
                <h1>Comments</h1> 
                <!-- Start Side Categories -->        
          <div id="cmtList">       
              <ul>

            {{#each commentList}}
                 

            <li>1:{{comment}}&nbsp;({{poster}})</li>

            {{/each}}

           </ul>
           </div>
       <div>
       <form  id="comment-form" >

                 <!--<div>Your name: <br>
                 <input type="text" id="poster" /></div>-->
                 <div>
                 <label for="poster">
                  Your name:
                  </label><input type="text" id="poster" />
                  </div>
                
                    <div>
                 <label for="email">
                Your email: 
                  </label><input type="text" id="email" />
                  </div>

                   <div>
                 <label for="comment">
                Your comments:
                  </label><textarea  id="comment" rows="15" cols="50"></textarea>
                  </div>

                 
 

                 <input type="submit" value="Submit"/>
 
          </form>
          </div>
                  </div> 
               </div>   
            </div>    
                  
         </div>
				<!--/End Sidebar Content -->    					                  
				<!--/End Main Content Area here-->	                
				 </div> 	
							
<script src="../../public/scripts/jquery.min.js" type="text/javascript"></script> 
<script src="../../public/scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../public/scripts/default.js" type="text/javascript"></script>

 
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="../../public/js/comments.js"></script>


</body>
</html>

